/* globals */
html {
  font-size:14.1732pt;                         /* = 5mm */
  line-height:14.1732pt;
}

body {
	background: #efefff;
	font-family : 'Assistant', sans-serif;
	font-size : 65.2%;                           /* 5 * 0.60 = 3mm */
	height: 100%;                     
	line-height : 1.5em;
	margin : 0;
	padding : 0;
	position : absolute;
	width: 100%;
}

body *{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

header, main, nav, .header, .main, .nav  {
	margin: 0;
	margin-bottom: 5px;
	padding: 5px;
}

p, h1, h2, h3, h4, h5, h6 {
	margin : 0;
	margin-bottom : 0.5em;
}

p  { font-size: 1.2em; }
h1 { font-size: 2.1em; margin-top: 1em;}
h2 { font-size: 1.9em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.1em; }

/* first the smalest display*/
.usefull-h {
	min-height: 320px;
}
.usefull {
	min-width: 320px;
	margin-left : auto;
	margin-right : auto;
	padding : 5 15px;
	width : 240px;
}
	
/* width */
@media only screen and (min-width: 320px) { /* from 320px and up */
	.usefull { width : 320px; } }
@media only screen and (min-width: 767px) {  /* 767px an up */
	.usefull { width : 700px; } }
@media only screen and (min-width: 959px) {  /* 959px an up */
	.usefull { width : 900px; } }
@media only screen and (min-width: 1024px) { 
	.usefull { width : 1000px; } }
	
/* height */
@media only screen and (min-height: 460px) { /* from 480px and up */
	.usefull-h{ max-height : 460px; } }
@media only screen and (min-height: 640px) { /* from 640px and up */
	.usefull-h{ max-height : 640px; } }
@media only screen and (min-height: 960px) {  /* from 960px and up */
	.usefull-h{ margin-top: 80px; max-height : 950px; } }
@media only screen and (min-height: 1024px) {   /* from 1024px and up */
	.usefull-h{ margin-top: 160px; max-height : 1000px; } }

.stoper {
	display : table ;
}

nav,.nav {
	display: inline;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display : flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap : nowrap;
	-webkit-justify-content : flex-end;
	-moz-justify-content : flex-end;
	-ms-justify-content : flex-end;
	justify-content : flex-end;
	list-style-type: none;
	padding: 0;
}

footer, .footer {

	background-color : black;
	bottom : 0;
	color : white;
	padding: 20px 15px;
	position : absolute;
	text-align: justify;
}

footer p, .footer p {
	width : 100%;
}



nav div, .nav div {
	margin : 0;
	padding: 0;
}


.b_on-off{
	display : table;
	height : 26px;
	margin:10px auto;
	padding : 4px;
	width : 144px;
}
.b_on-off * {
	display: table-cell;
	height:100%;
	text-align: center;
	vertical-align: middle;
}
.b_on-off *:first-child{  width :15%; }
.b_on-off *:nth-child(2){ width : 35%; }
.b_on-off *:nth-child(3){ width : 35%; }
.b_on-off *:nth-child(4){ width : 15%; }





.clr-cmd{
	background-color: #444;
	color : white;
	font-size: 16px;
	font-weight: bolder;
}


.clr-bkg { background : #012345; }
.clr-bkg-blue { background : #abcdef none repeat; }
.clr-bkg-gray { background : #555 none repeat; }

.clr { color: #123456; }
.clr-light { color: #def; }


