/*
 * position
 */
 
body *{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/*
 * width
 */

header,
nav,
main,
.header,
.nav,
.main{
	display : block;
	position : relative;
}

header, .header {
	padding-top: 35px;
}

footer, .footer {
	bottom : 0;
	left : 0;
	right: 0;
	padding: 10px 15px 35px;
	position: absolute;
	z-index: -90;
}


/* first the smalest display*/
.usefull {
	margin-left : auto;
	margin-right : auto;
	min-width : 240px;
	max-width: 100%;
}

@media only screen and (min-width: 320px) { .usefull { min-width : 320px; } }
@media only screen and (min-width: 480px) { .usefull { min-width : 480px; } }
@media only screen and (min-width: 768px) { .usefull { min-width : 768px; } }
@media only screen and (min-width: 960px) { .usefull { min-width : 960px; } }
@media only screen and (min-width: 1024px) { .usefull { min-width : 1024px; } }

@media only screen and (min-width: 768px) {
	nav,.nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display : flex;
		-webkit-box-flex-flow: wrap;
		-webkit-flex-flow: wrap;
		-ms-flex-flow: wrap;
		flex-flow : wrap;
		-webkit-box-justify-content : flex-end;
		-webkit-justify-content : flex-end;
		-ms-justify-content : flex-end;
		justify-content : flex-end;
		padding: 0;
	}
	nav div, .nav div {
		display : inline-block;
		width: auto; }	
}

/*
 * height:
 */
 
.usefull-h {
	min-height : 320px;
	max-height: 100%;
}

/* height with usefull-h for precise vert enviroment */
@media only screen and (min-height: 321px) {	.usefull-h{ min-height : 320px; } }
@media only screen and (min-height: 361px) { .usefull-h{ min-height : 360px; } }
@media only screen and (min-height: 481px) { .usefull-h{ min-height : 480px; } }
@media only screen and (min-height: 641px) { .usefull-h{ min-height : 640px; } }
@media only screen and (min-height: 801px) { .usefull-h{ min-height : 800px; } }
@media only screen and (min-height: 961px) { .usefull-h{ min-height : 960px; } }
@media only screen and (min-height: 1025px) { .usefull-h{ min-height : 1025px; } }
@media only screen and (min-height: 1281px) { .usefull-h{ min-height : 1025px; } }


/*
 * tricks
 */

img {
	width: 100%;
	max-width: 100%;
}


.centering {
	border-radius : 8px;
	display : block;
	margin: auto;
	max-width: 960px;
	width: 100%;
}

.quadbox {
	width : 95%;
	padding-top: 95%;
}

/* nice */
.nav div, nav div {
	border: 1px solid #def;
	margin-bottom: -1px;
	text-align : center;
}
nav div.dimmed, .nav div.dimmed {
	opacity : 0.8;
	cursor : default;
}

a { text-decoration : none; outline: 0; }
a:link{ color: #def; }
a:visited{ color: #def; }
a:hover{ color: #def; }
a:active p{ background: #def; color: #012345; }



.clr-bkg{ background: #efefff; }

.clr-light-on-dark { 
	background : #012345;
	color: #def;
}

.clr-dark-on-light { 
	background : #ffffee;
	color: #444;
	font-weight: 800;
}

.clr-white-on-black {
	background-color : black;
	color : white;
	text-align: justify;
}

.clr-black-on-sky {
	background : #abcdef; 
	color : #333; 
}

/*
 * font size
 */
html {
  font-size:14.1732pt;                         /* = 5mm */
  line-height:14.1732pt;
  margin : 0;
	padding : 0;
}

body {
	font-family : 'Assistant', sans-serif;
	font-size : 65.2%;                           /* 5 * 0.60 = 3mm */                   
	line-height : 1.5em;
	margin : 0;
	padding : 0;
}

p  { font-size: 1.2em; }
h1 { font-size: 2.0em; margin-top: 1em;}
h2 { font-size: 1.6em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; text-align: right;}

@media only screen and (min-width: 959px) {  /* 959px an up */
	p  { font-size: 1.2em; }
	h1 { font-size: 2.4em; margin-top: 1em;}
	h2 { font-size: 2.2em; }
	h3 { font-size: 1.9em; }
	h4 { font-size: 1.7em; }
	h5 { font-size: 1.5em; }
	h6 { font-size: 1.3em; }
}

footer p{
	font-size: 1em;
}

p, h1, h2, h3, h4, h5, h6 {
	margin : 0;
	padding : 6px 8px;
}

