.nobutton {
	background: transparent;
	border: 0;
	display : block;
	margin:0;
	outline: 0;
}

/*
 * pomodoro  select
 */

.sel-select{
	height: 100%;
	overflow: hidden;
	width : 90%; 
}
.sel-select > select {
	height: 100%;
	padding-left: 35px;
	width: 105%;
}

/*
 * pomodoro buttons
 */
div[class^="bt-two"],
div[class^="bt-num-range"] {
	display : table;
	height: 100%;
	width : 100%;
}

div[class^="bt-two"] div,
div[class^="bt-num-range"] div {
	cursor: pointer;
	display : table-cell;
	height: 100%;
	text-align: center;
	vertical-align : middle;
}

/* two buttons */
.bt-two div{
	width: 50%;
}
.bt-two div:first-child {
	border-width: 0 1px 0 0;
	border-color: #333;
	border-style: dotted;
}

/* adjust */
.bt-num-range div:first-child{ width: 40%; }
.bt-num-range div:nth-child(2){
	border-width: 0 1px;
	border-color: #333;
	border-style: dotted;
	width: 20%;
	cursor: default;}
.bt-num-range div:nth-child(3){ width: 40%; }


/**
 * simon on-off
 */

.bt-on_of {
	display : table;
	height: 32px;
	padding: 4px 16px;
	width: 208px;
}
.bt-on_of > div {
	display : table-cell;
	font-size: 2em;
	
}
.bt-on_of > div:first-child,
.bt-on_of > div:nth-child(4){
	text-align: center;
	vertical-align: middle;
	width: 32px;
}
.bt-on_of > div:nth-child(2),
.bt-on_of > div:nth-child(3){
	width: 56px;
}

.clr-bt-on { background: #ace; }
.clr-bt-of { background: #555; }






