body {
    background-color: #eeeeee;
}
div.note{
    background-color: #fe9754;
    background-image: linear-gradient(
        to right, #f5f553, #f5f553 3em, #f00 3em, #f00 2px, #f5f553 calc( 3em + 2px ));
    box-sizing: border-box;
    font-family: 'Coming Soon';
    font-weight: 700;
    line-height: 1.5;
    padding: 1em 1em 1em 4em;
    width: 320px;
}
span.note:after{
    content: '';
    display: table;
}
span.br:after{
    content: '\a0';
}
.note mark {
    background: #f88;
}
    
.note mark:before,
.note mark:after{
    content: '\a0';
}

.note p, .display p {
    margin: 0;
}

.calculator{
    background: #fbfbdd;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #fff;
    border-right: 3px solid #ccc;
    border-top: 3px solid #fff;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: none;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 320px;
}
.calculator-row{
    cursor: none;
    display: flex;
    padding: 5px;
}


@media (min-width: 600px) {
    div.note {
        position: absolute;
        top: -300px;
        right: 0;
    }
}
@media (min-width: 600px) {
    div.note {
    left: 330px;
    }
}

button.button.calc {
    background: #333;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #fbfbdd;
    border-right: 3px solid #ccc;
    border-top: 3px solid #fbfbdd;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    box-sizing: border-box;
    color: #dea;
    cursor: pointer;
    flex: 1 1 25%;
}
button.button.calc2 {
    background: #e93;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #fbfbdd;
    border-right: 3px solid #ccc;
    border-top: 3px solid #fbfbdd;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;
    box-shadow: 1px 1px 3px #ccc;
    box-sizing: border-box;
    color: #dea;
    cursor: pointer;
    flex: 2 1 50%;
}
.display {
    background-color: #222;
    border-bottom: 2px solid #fbfbdd;
    border-left: 2px solid #ccc;
    border-right: 2px solid #fbfbdd;
    border-top: 2px solid #ccc;
    border-radius: 9px;
    -webkit-box-shadow: inset 3px 3px 3px 0 #ccc;
    -moz-box-shadow: inset 3px 3px 3px 0 #ccc;
    box-shadow: inset 3px 3px 3px 0 #ccc;
    color: #eee;
    font-size: 2em;
    line-height: 2em;
    margin: 0 0.5em;
    padding: 0 0.5em;
    text-align: right;
    width: 100%;
}
button.button.calc:hover {
    background-color: #32323232;
}
button.button.calc2:hover {
    background-color: #ed983232;
}
button.button.calc:active,
button.button.calc:focus {
    background-color: #656565;
}
button.button.calc2:active 
button.button.calc2:focus {
    background-color: #ffcb65;
}


