.pomodoro{
	border : 1px solid #def;
	border-radius:  4px;
	bottom : 0;
	height: 320px;
	max-width: 560px;
	position: relative;
}
.timer {
	height:50%;
}

.timer-text{
	display : none;
}

.timer-set{
	border : 1px solid #333;
	border-radius:  6% / 50%;
	height:12.5%;
}

@media only screen and (min-width: 768px) {
	.pomodoro {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display : flex;
		-webkit-box-flex-flow: wrap;
		-webkit-flex-flow: wrap;
		-ms-flex-flow: wrap;
		flex-flow : wrap;
		max-width: 480px;
		min-height: 480px;
	}
	.half-width {
		width:50%;
	}
	.full-width {
		width: 100%;
	}
	.timer-text {
		display : inline-block;
	}
	.timer {
		height: 30%;
	}
	.timer-set {
		height:8%;
	}
	.timer-text {
		height: 23%;
	}
	
}



.timer{
	text-align:center;
}
.timer p:first-child{
	font-size : 1.5em;
}
.timer-time{
	color: #ff4466;
	font-size: 6em;
	margin: 5px;
	line-height: 1.5em;
	text-align: center;
}
.timer-set{
	font-size : 2em;
}

.timer-text{
	border : 0.5px solid #eee;
	border-radius: 4px;
	padding: 5px;
	text-align: justify;
}

