/* position */

main, .main{
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	flex-wrap : wrap;
	-ms-flex-wrap : wrap;
	-webkit-flex-wrap : wrap;
}

.timer-time{
	width: 100%;
}

.timer-togglet{
	width: 50%;
}

/* buttons */

.two-button>button {
	border: 1px solid #012345;
	border-radius: 10px;
	font-size: 1.5em;
	height: 1.6em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	width: 50%;
}

.select-button{
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
}

.select-button>select {
	border: 0;
	font-size: 1.5em;
	height: 1.6em;
	line-height: 1.5em;
	margin: 0;
  padding: 2px 10px;
	text-align: center;
	width: 110%;
}

.adj-button>button, .adj-button>input{
	border:  1px solid #012345;
	font-size: 1.5em;
	height: 1.6em;
	margin: 0;
	padding: 0;
	width: 45%;
}
.adj-button>input{
	color: #333;
	text-align: center;
	width: 10%;
}
.adj-button>button:first-child {
	border-radius: 10% 0 0 10%/50% 0 0 50%;
}
.adj-button>button:nth-child(3) {
	border-radius:  0 10% 10% 0 / 0 50% 50% 0 ;
}



/* nice */
h5 {
	text-align: center;
}
main, .main{
	border-radius: 4px;
}
.timer-time{
	border-radius: 4px;
	text-align:center;
}
.timer-togglet{
	border : 0.5px solid #eee;
	border-radius: 4px;
	padding: 5px;
	text-align: justify;
}
.timer-main{
	font-size: 6em;
	margin: 5px;
	line-height: 1.5em;
	text-align: center;
}

/* colors */

.clr-bkg { background : #012345; }
.clr-bkg-blue { background : #abcdef; }

.clr { color: #123456; }
.clr-light { color: #def; }
.clr-warn { color: #f84; }
.clr-main { color: #f00; }

.button-clr {	background-color: #012345; }
.button-clr>button, .button-clr>select, {
	background-color: #eee; }
.button-clr>button:hover, .button-clr>select:hover{	background-color: #abcdef; }
.button-clr>span {	color: #abcdef; }



