
html {
    font-size: 12pt;
    margin:0; padding:0;
}
body {
    background-color: #123;
    font-family: 'Assistant', sans-serif;
    font-size : 100%;             
    font-weight: 300;
    line-height: 1.25;
    margin:0; padding:0;
}
a:visited { color: inherit; }
a:hover { font-weight: 700; }

header {
    color: #def;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 320px;
    height: 70px;
}
section {
    display: block;
    background-color: #def;
}
footer {
    color: #def;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 320px;
}



.clock {
    border: 3px solid #123;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 320px;
}
@media (min-width: 640px) {
    .clock {
        border-width: 15px;
        border-radius: 50%;
        height: 400px;
        padding-top: 60px;
        width: 600px;
    }
    header, footer {
        width: 600px;
    }
}
@media (min-width: 1280px) {
    .clock {
        margin-left: 120px;
    }
    header, footer {
        margin-left: 120px;
    }
}


h1 {
    font-size: 2rem;
    line-height: 4rem;
    margin: 0;
}

p {
    font-size: 1rem;
    line-height: 20px;
    height: 20px;
    text-align: center; 
}
p#clock_mode_y {
    color: #f22;
}
p.timer {
    font-size: 1.5rem;
    line-height: 3rem;
}
p#clock_tgl,
p#clock_rst {
    border: 1px solid #123;
    margin: 0 auto;
    width: 90%;
}

    
p.note {
    color: #f22;
    font-size: 0.85rem;
}
p.setting-title span {
    display: inline-block;
    width: 45%;
}
p.setting span {
    border: 1px solid #123;
    display: inline-block;
    width: 14%;
}

p#clock_tgl:hover,
p#clock_rst:hover,
p.setting span:nth-child(1):hover,
p.setting span:nth-child(3):hover,
p.setting span:nth-child(4):hover,
p.setting span:nth-child(6):hover {
    background-color: #922;
    color: #def;
}


