
body {
    background: #fff;
}

a, a:visited {
    color: #aaa;
}
a.button {
    font-size: 2rem;
    line-height: 2.5rem;
}

/* nav */
/* to top -> fixed*/
nav ul > li:nth-child(2) {
    margin-left: 55px;
}
nav ul > li:first-child {
    position: fixed;
}


/* header */
header {
    height: 320px;
}
h1 {
/*
    font-family: 'Alex Brush', cursive;
*/
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    margin-bottom: 6rem;
    margin-top: 5rem;
}
h1 span {
    font-size: 1rem;
    position: relative;
    bottom: -0.3em;
    vertical-alignment: baseline;
    line-height: 0;
}



/* about */
article.portfolio {
    background: #fff;
    color: #aaa;
    font-family: 'Merriweather', serif;
    padding: 60px 15px 60px 0;
    text-align: right;
}


/* portfolio */
div.portfolio {
    background: #ddd;
}
section.portfolio {
    box-sizing: border-box;
    display: inline-block;
    height: 300px;
    padding: 40px 78px;
    width: 294px;
}


/* footer */
footer.portfolio {
    background: #efefef;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer img {
    height: 32px;
    width: 32px;
}
a.mailto {
    border: 0;
}

/* grid */
.container {
    margin: 0 auto;
    position: relative;
    width: 320px;
}

@media (min-width: 640px) {
    .container {
        width: 600px;
    }
    article.portfolio {
        padding-right: 30px;
    }
}

@media (min-width: 960px) {
    .container {
        width: 900px;
    }
    article.portfolio {
        padding-right: 60px;
    }
    div.portfolio {
        background: linear-gradient(#fafafa, #efefef);
        background: -moz-linear-gradient(#ddd, #fff);
    }
    h1 {
        font-family: 'Alex Brush', cursive;
        font-size: 6rem;
    }
    h1 span {
        font-size: 2rem;
    }
}

/* Larger than desktop */
@media (min-width: 1280px) {
    .container {
        margin-left: 96px;
    }
}
