

div.message {
    background: #222;
    box-sizing: border-box;
    border: 6px solid #fed;
    color: #fca;
    cursor: default;
    font-family: 'Rock Salt', cursive;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 24px auto;
    outline: 3px solid #222;
    padding: 12px;
    width: 230px;
}
div.message:hover {
    box-shadow: 0 0 10px 10px #fed;
}

p.p-message {
    text-align: center;
}
p.s-message {
    font-size: 74%;
    text-align: right;
}

div.social,
div.controls {
    margin: 24px auto; 
    width: 230px;
}
button.controls {
    font-family: 'Rock Salt', cursive;
    font-size: 0.5em;
    width: 100%;
}




