/* position */

.simongame {
	bottom: 0;
	position: absolute;
	top: 150px;
	width : 100%;
}

.d_display{
	left : 15%;
	height: 15%;
	position : absolute;
	right : 15%;
	top: 0;
}
.d_display > div {
	height: 50%;
	padding: 0 16px;
	position : relative;
	width : 100%;
}
.d_display > div > * {
	left: 50%;
	position: absolute;
	top: 50%;
	-ms-transform: translate( -50%, -50%); /* IE 9 */
  -webkit-transform: translate( -50%, -50%); /* Safari */
  transform: translate( -50%, -50%);
}


.d_funny {
	left : 15%;
	position : absolute;
	right : 15%;
	top: 25%;
}
.b_funny {
	display : inline-block;
	margin:1%;
	padding: 24%;
	vertical-align : top;
	width: 24%;
}

	
/* nice */
/* display */

#p_step{
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	position: relative;
}
.clr-display {
	background: #333;
	color: #fff;
}

/* funny */
.d_funny {
	background : #333;
	border-radius: 20%;
}
.b_funny {
	border-radius: 40%;
}
.clr-f1 { background-color: #faa; }
.clr-f2 { background-color: #bfb; }
.clr-f3 { background-color: #ffa; }
.clr-f4 { background-color: #89f; }

.clr-active-f1 { background-image: radial-gradient( #fee 0%, #fff 8%, #fff 16%, #fbb 85% ); }
.clr-active-f2 { background-image: radial-gradient( #dfd 0%, #fff 8%, #fff 16%, #afa 85% ); }
.clr-active-f3 { background-image: radial-gradient( #ff8 0%, #fff 8%, #fff 16%, #ffb 85% ); }
.clr-active-f4 { background-image: radial-gradient( #eef 0%, #fff 8%, #fff 16%, #78f 85% ); }

.stop_g { background-color : #555; color : $fff; }
.play_g { background-color : #89f; color : #def; }
.repr_g { background-color : #bfb; color : #def; }
.winn_g { background-color : #ffa; color : #def; }
.fail_g { background-color : #faa; color : #def; }
.def_g { background-color : 000; color : #aa0 }


