
html {
  font-family: "Raleway", Helvetica, sans-serif;
}


header {
    background: #222;
    color: #ccc;
}
h1 {
    font-size: 2em;
    padding-top: 8%;
    text-align: center;
}
h1>small {
    font-size: 40%;
    white-space: nowrap;
}
h1>small::before {
    content: '\a0';
    display: block;
    height: 0;
}
h2 {
    font-size: 1.3em;
    text-align: center;
}
h3 {
    font-size: 1.15em;
    text-align: center;
}

blockquote {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    line-height: 1.6;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em; 
    text-align: justify;
}
blockquote small {
    display: block;
    font-size: 60%em;
    font-style: italic;
    text-align: right;
}

ul {
    list-style-position: outside;
    margin-left: 1em;
    margin-right: 1em;
}
li {
    text-align: justify;
}


/* footer */
footer {
    background: #222;
    box-shadow: 0 1000px 0 1000px #222;
    color: #ccc;
}
footer ul {
    list-style: none;
}

.links {
    color: #4a76af;
}
.links:visited {
    color: #b58950;
}
.author {
    padding-right: 1em;
    text-align: right;
}

.x {
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 7px;
    font-size: 0.9rem;
    margin-top: 12px;
    max-width: 500px;
    padding: 24px 12px;
}
.verylarge {
    padding-top: 24px;
}

@media (min-width: 600px) {
h1 {
    font-size: 3em;
}
h1>small {
    font-size: 35%;
}
h2 {
    font-size: 1.5em;
}
blockquote {
    box-shadow: -3px 2px 6px 0 #eee;
    line-height: 1.8;
    margin-left: 2em;
    margin-right: 1.5em;
    padding-left: 1.5em; 
}
ul {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.author {
    padding-right: 1.5em;
}
}

@media (min-width: 900px) {
h1 {
    font-size: 4em;
}
h1>small {
    font-size: 30%;
}
h2 {
    font-size: 1.8em;
    text-align: left;
}
h3 {
    text-align: left;
}
blockquote {
    box-shadow: -3px 2px 12px 0 #eee;
    font-size: 1.1em;
    line-height: 2;
    margin-right: 2em;
    padding-left: 2em; 
}
.author {
    font-size: 1.1em;
}
}

@media (min-aspect-ratio: 8/5) {
    h1{
        margin-bottom: 0.5em;
    }
}
