html, body {
    margin: 0; padding: 0;
}

/* use to set
 * width of contained content
 * space between content
 * */
.container {
    margin: 0 auto;
    position: relative;
    width: 320px;
}
.row {
    margin-bottom: 32px;
    position: relative;
}
/* block floats and  top margins of next element  */
.row:after,
.row:before,
.container:after,
.container:before {
    clear: both;
    content: '';
    display: table;
}
.verylarge {
    display: none;
}


@media (min-width: 640px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 960px) {
    .container {
        width: 900px;
    }
}


@media (min-width: 1280px) {
    .container {
        margin-left: 96px;
    }
    .verylarge {
        display: inline;
        position: absolute;
        left: 1050px;
        right: 20px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1800px) {
}



/* columns */
.column {
    display: inline-block;
    float: left;
    width: 100%;
}



@media (min-width: 600px) {
    .one-fourth      { width: 22.0% }
    .one-third       { width: 32.6666666667%; }
    .two-thirds      { width: 65.3333333333%; }
    .one-half        { width: 48%; }

    .offset-by-one-fourth   { margin-left: 26.0%; }
    .offset-by-three-fourth { margin-left: 78.0%; }
    .offset-by-one-third    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds   { margin-left: 69.3333333333%; }
    .offset-by-one-half     { margin-left: 52%; }
}
